@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


nav {
  background-color: rgb(33, 33, 33);
  color: white;
  overflow: hidden;
  padding: 10px 20px; 
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 35px;
  color: #f8f8f8;
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
  display: flex;
  font-size: 20px;
}

li {
  padding: 0 15px;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}


.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
nav ul li a:hover {
  background-color: rgba(131, 126, 126, 0.4);
  border-radius: 20px;
  padding: 12px;
  transition: 0.4s;
  color: #4cb0ea;
}

@media (max-width: 768px) {
  ul {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    padding: 20px 0;
    background-color:rgba(255, 255, 255, 0.5);
    margin-top: 30px;
    border-radius: 20px;
  }

  a {
    color: #000000;
   }


  #menu-toggle:checked + .menu-icon + ul {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}
